body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --teal: #3F5955;
  --light-teal: #5F7A75;
  --offWhite: #F6F6F6;
  --primary:rgb(56, 56, 56);
  --secondary:#abb8c3;
 --burnished-gold: #b8860b;
 --light-gold: #E6C76A;
--transparent-gold: #E6C76A80
}
h1{
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 4.5rem);
  line-height: 1;

}
.sub-heading{
  font-family: "Cormorant", serif;
  font-weight: 400;
}
section > .container-fluid, footer > .container-fluid{
  padding:5% 7%;
}
.homeBadgeParent{
  background-color: var(--transparent-gold);
  color: var(--light-gold);
  text-transform: uppercase;
  padding: 3px 12px;
  border-radius: 20px;
  margin-top: 8px;
  font-weight:bold;
  width: fit-content;
 
  font-size: 0.75rem;   
  white-space: nowrap;
  
}
p.subtopic {
    font-size: 20px; /* bigger than body text */
    font-weight: 500; /* slightly bolder, optional */
    margin-top: 10px;
    margin-bottom: 15px;
}

/* button buttn */
.btn{
  text-transform: capitalize;
   white-space: nowrap;
   margin-right: 10px;
   margin-bottom: 10px;
   color:white;
} 
.btnPrimary, .btnPrimary:hover{
  background: var(--burnished-gold);
  
}
/* nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav */
nav{
  text-transform: capitalize;
  background-color: var(--teal);
}

.navbar-brand {
    width: 8%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 20%;
    }
}
nav .container-fluid{
  padding:0 7% ;
}


/* hero-section hero-section hero-section */
#hero{
  background-image: url('./asset/LivingRoom1.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  
  
}
#hero .container-fluid{
  color: var(--ivory);
  min-height: 80vh;
  background: linear-gradient(
  to right,
  var(--light-teal),
  transparent 200% 
  
);}
