body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --teal: #3F5955;
  --light-teal: #5F7A75;
  --transparent-teal: #3F595580;
  --offWhite: #F6F6F6;
  --secondary:#abb8c3;
 --burnished-gold: #b8860b;
 --light-gold: #E6C76A;
--transparent-gold: #E6C76A80;
}
h1{
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 4.5rem);
  line-height: 1;

}
.sub-heading{
  font-family: "Cormorant", serif;
  font-weight: 600;
}
section > .container-fluid, footer > .container-fluid{
  padding:5% 7%;
}
.homeBadge, .homeBadgeParent{
   color: var(--light-gold);
  text-transform: uppercase;
  font-size: 0.77rem;   
  white-space: nowrap;
  font-weight:bold;
}
.homeBadgeParent{
  background-color: var(--transparent-gold);
 
  padding: 3px 12px;
  border-radius: 20px;
  margin-top: 8px;
  
  width: fit-content;
 
  
  
}

p.subtopic {
    font-size: 20px; /* bigger than body text */
    font-weight: 300; /* slightly bolder, optional */
    margin-top: 10px;
    margin-bottom: 15px;
}

/* button buttn */
.borderlessbtn{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--burnished-gold);
}
.btn{
  text-transform: capitalize;
   white-space: nowrap;
   margin-right: 10px;
   margin-bottom: 10px;
   color:white;
} 
.btnAlternate, .btnAlternate:hover{
  border: 1px solid white;
}
.btnPrimary, .btnPrimary:hover{
  background: var(--burnished-gold);
  
}
.btn-xl {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

/* nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav */
nav{
  text-transform: capitalize;
  background-color: var(--teal);
}

.navbar-brand {
    width: 8%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 20%;
    }
}
nav .container-fluid{
  padding:0 7% ;
}


/* hero-section hero-section hero-section */
#hero{
  background: linear-gradient(
  to right,
  var(--teal),
  transparent 200% 
), url('./asset/LivingRoom1.png');


  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  position: relative;
  padding-bottom: 120px;
  min-height:80vh;
  
  
}



.card-row {
  margin-top: -100px;
  position: relative;
    
  padding: 0 7%;
  z-index: 10;

 
  transform: translateY(20%);
}
@media (max-width: 768px) {

     .card-row {
        position: static;
        transform: none;
        
    }
    #welcome{
      padding-top:0;
    }
}
 .hero-cards{
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  margin:10px;
  box-shadow: 0 2px 8px var(--secondary);
  z-index:20;
 }
 .hero-card-icon{
  font-size: 1.5rem;
  padding:10px 20px;
  background-color:#F0F8FF ;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 10px;
  
 }

 /* welcome welcome welcome */
 #welcome{
  padding-top: 30px;
 }
 /* apartments apartmets */
 #apartments{
  background-color: var(--offWhite);
 
 }
